@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --color-purple: #883AE1;
    --color-purple-light: #E6D6FC;
    --color-white: #FFFFFF;
    --color-grey: #6C727F;
    --color-grey-light: #E5EAF0;
    --color-grey-extralight: #FAFAF9;
    --color-black: #20293A;

    --box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    --radius: 15px;

    --font-title: 1.125rem;
    --font-body: 0.875rem;
    --font-small-text: 0.75rem;
    --font-tag: 0.625rem;
}

/* Base styles */

body {
    background-color: var(--color-grey-extralight);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sora', sans-serif;
}

img {
    max-width: 100%;
}

/* Card Styles */

.card {
    background-color: var(--color-white);
    max-width: 366px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    outline: 2px solid #00000000;
    transition: outline .2s;
}
.card:hover {
    outline: 2px solid var(--color-grey-light);
    cursor: pointer;
}

.card-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 1.1rem;
}
.card-image__image {
    object-fit: cover;
    border-radius: var(--radius);
}
.card-image__category {
    margin: 8px 0 4px 0;
    padding: 4px 17px;
    background-color: var(--color-purple-light);
    font-weight: 700;
    font-size: var(--font-tag);
    color: var(--color-purple);
    border-radius: var(--radius);
}

.card-content__title {
    padding: 0 1.1rem .5rem 1.1rem;
    color: var(--color-black);
    font-weight: 700;
    font-size: var(--font-title);
}
.card-content__description {
    padding: 1.1rem;
    padding-top: 0;
    line-height: 1.5;
    color: var(--color-grey);
    font-size: var(--font-body);
}
.card-content__author {
    display: block;
    padding: 1.1rem;
    font-size: var(--font-small-text);
    color: var(--color-grey);
    border-top: 1px solid var(--color-grey-light);
}
